@using TechJobs6Persistent.ViewModels
@model AddEmployerViewModel

    //About View: Use the Model to help populate the view

    <h1>Employer: Name</h1>

    <div>
        <p>Name: name</p>
        <p>Location: location</p>
    </div>